header{
    box-shadow: 0px 0px 3px rgb(150, 11, 11);
}
.menu-div2{
    text-align: center;
    list-style: none;
}
.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
   background-color: #ad7686;
}

.logo{
    text-decoration: none;
   
}
.logo-name{
    color: rgb(62, 35, 35);
    padding: 0px 30px;
    text-decoration: none;
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.logo-name{-webkit-animation:jello-horizontal .9s both;animation:jello-horizontal .9s both}
@-webkit-keyframes jello-horizontal{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}30%{-webkit-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}40%{-webkit-transform:scale3d(.75,1.25,1);transform:scale3d(.75,1.25,1)}50%{-webkit-transform:scale3d(1.15,.85,1);transform:scale3d(1.15,.85,1)}65%{-webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}75%{-webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}@keyframes jello-horizontal{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}30%{-webkit-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}40%{-webkit-transform:scale3d(.75,1.25,1);transform:scale3d(.75,1.25,1)}50%{-webkit-transform:scale3d(1.15,.85,1);transform:scale3d(1.15,.85,1)}65%{-webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}75%{-webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}

.menu{
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}
.menu li{
    list-style: none;
    padding: 5px 20px;
}

.navItem{
    font-weight: 600;
    text-decoration: none;
    color: rgb(60, 31, 31);
}
.menu-div{
    position: relative;
}
.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #fb1056;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #fb1056;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  .menu-div{
    display: none;
  }
  /* menu btn */
  .header.menu-icon{
    display: none;
  }
  .header .menu-btn {
    display: none;
  }
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  @media screen and (min-width: 910px) {
    .headerDiv2{
        display: none;
    }
  } 
  
@media screen and (max-width: 910px) {
    .menu-div{
        display: block;
    }
    .menu-icon{
        display: block;
    }
    .menu-btn{
        display: block;
        position: absolute;
        right: 0px;
        top: 0px
    }
    .menu{
        display: none;
    }
  }