body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
.Bio{
    color: rgb(87, 22, 108);
    font-family:monospace;
    font-weight: bold;
    font-style: italic;
}

.heading_logo{
   font-family: 'Times New Roman', Times, serif;
}


/* .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/College.jpeg");
    height: 70%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 10%;
    transform: translate(-50%,-50%);
  }
   */

/* .hero-image{-webkit-animation:swing-in-bottom-fwd .5s cubic-bezier(.175,.885,.32,1.275) both;animation:swing-in-bottom-fwd .5s cubic-bezier(.175,.885,.32,1.275) both}

@-webkit-keyframes swing-in-bottom-fwd{0%{-webkit-transform:rotateX(100deg);transform:rotateX(100deg);-webkit-transform-origin:bottom;transform-origin:bottom;opacity:0}100%{-webkit-transform:rotateX(0);transform:rotateX(0);-webkit-transform-origin:bottom;transform-origin:bottom;opacity:1}}@keyframes swing-in-bottom-fwd{0%{-webkit-transform:rotateX(100deg);transform:rotateX(100deg);-webkit-transform-origin:bottom;transform-origin:bottom;opacity:0}100%{-webkit-transform:rotateX(0);transform:rotateX(0);-webkit-transform-origin:bottom;transform-origin:bottom;opacity:1}} */

.section1{
  /* background-image: url(./wave.svg); */
  background-repeat: no-repeat;
  background-position: center;
 background-size:850vh;
 /* margin-top: 70px; */

}
.section1Div{
   display: flex;
   justify-content:space-evenly;
   margin: 0px 50px;
   padding: 0px 50px;
}
.sectionDivA{
   margin-top: 100px;
}
.sectionDivA h1{
   font-size: 5em;
   margin-bottom: 0px;
   font-weight: 700;
}
.sectionDivA h3{
   font-size: 2em;
   margin: 0px 0px;
   font-weight: 600;
}
.sectionDivA h5{
   font-weight: 500;
   font-size: 20px;
   margin: 10px 0px;
}
.sectionDivB img{
   margin-top: 50px;
   height: 400px;
   border-radius: 20%;
}
.explore h4{
  margin-bottom: 30px;
}
.exploreDiv a{
margin: 0px 10px;
text-decoration: none;
color: black;
background-image: linear-gradient(to right,rgb(255, 137, 94) ,rgb(243, 179, 106));
border: 2px solid red;
padding: 10px 15px;
border-radius: 25px;
}
/* .botStyle{
    position:absolute;
    right: 100;
     top: 20; 
     z-index: 20;
} */
@media screen and (max-width: 1100px) {
   .section1Div{
       margin: 0px 25px;
       padding: 0px 25px;
   }
   .sectionDivB img{
       margin-top: 50px;
       height: 450px;
   }
   
}
@media screen and (max-width: 1000px) {
   .section1{
       background-size:650vh;
   }
   .sectionDivA{
       margin-top: 80px;
   }
   .sectionDivB img{
       margin-top: 50px;
       height: 400px;
   }
   .sectionDivA{
       margin-top: 100px;
   }
   .sectionDivA h1{
       font-size: 4em;
   }
   .sectionDivA h3{
       font-size: 1.8em;
   }
   .sectionDivA h5{
       font-size: 17px;
   }
   .explore h4{
       margin-bottom: 24px;
       font-size: 20px;
    }
   .exploreDiv a{
       margin: 0px 7px;
       padding: 7px 12px;
       font-size: 15px;
   }
}
@media screen and (max-width: 840px){
   .sectionDivB img{
       margin-top: 30px;
       height: 350px;
   }
   .sectionDivA{
       margin-top: 70px;
   }
   .sectionDivA h1{
       font-size: 3.5em;
   }
   .sectionDivA h3{
       font-size: 1.5em;
   }
   .sectionDivA h5{
       font-size: 15px;
   }
   .explore h4{
       margin-bottom: 21px;
    }
   .exploreDiv a{
       margin: 0px 7px;
       padding: 5px 9px;
       font-size: 13px;
   }
   .explore h4{
       margin-bottom: 21px;
    }
}
@media screen and (max-width: 740px){
   .section1Div{
       flex-wrap: wrap-reverse;
   }
   .sectionDivB img{
       margin-top: 20px;
       height: 300px;
   }
   .sectionDivA{
       margin-top: 30px;
   }
   .explore h4{
       margin-bottom: 19px;
    }
}
@media screen and (max-width: 500px){
    .botStyle{
        right: 20px !important;
    }
   .sectionDivB img{
       margin-top: 10px;
       height: 200px;
       width: 300px;
   }
   .section1Div{
       margin: 0px 7px;
       padding: 0px 7px;
   }
   .sectionDivA{
       margin-top: 5px;
   }
   .section1{
       background-size:850vh;
   }
   .explore h4{
       margin-bottom: 17px;
       font-size: 18px;
    }
   .exploreDiv a{
       margin: 0px 5px;
       padding: 5px 8px;
       font-size: 14px;
   }
}
.Section5Div{
  text-align: center;
  padding: 60px 50px;
}
.Section5Div h3{
  font-weight: 800;
  font-size: 2.3em;
  padding: 30px 30px;
}
.Section5DivA{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 30px 7%;

}
.Section5DivAPoint{
   display: flex;
   width:300px ;
   margin: 40px;
   justify-content: left;
   padding:10px ;
   border-radius: 10px;
}
.section5DivADivB{
  text-align: start;
  margin-left: 10px;
}
.section5DivADivB h5{
  font-weight: 600;
}
.section5DivADivB a{
  text-decoration: none;
  /* background-color: coral; */
  color: coral;
  
}
.Section5DivB{
  padding: 2% 7%;
  display: flex;
}
.Section5DivB img{
 width: 600px;
}
.Section5DivBDivA{
  margin-top: 100px;
}
.Section5DivBDivA p{
  text-align: start;
  font-size: 1.3em;
  font-weight: 600;
}
.section5Anchor{
  display: flex;
  flex-direction: column;
  text-align: start;
}
.section5Anchor a{
  font-weight: 600;
  margin: 7px 7px ;
  color: coral;
  text-decoration: none;
}
/* .section5Anchor a span{
  color: black;
  background: coral;
  padding: 4px 10px;
  border-radius: 50%;
} */
.section5DivC{
  margin-top: 100px;
}
.section5DivC h4{
      font-weight: 500;
      margin: 50px 0px;
}
.section5DivCa{
  margin: 20px;
}
.section5DivC a{
  text-decoration: none;
  color: white;
  margin: 60px 30px;
  padding: 10px 15px;
  background-image: linear-gradient(to right,rgb(255, 137, 94) ,rgb(243, 179, 106));
  border-radius: 30px;

}
.section5DivCa span{
margin: 0px 5px;
}
.Section5DivAPoint:hover{
  transform: scale(1.05);
  background-image: linear-gradient(to right, rgb(248, 205, 190) ,rgb(248, 173, 145));
}
/* A */
@media screen and (max-width: 1430px) {
  .Section5Div{
      padding: 50px 40px;
  }
  .Section5DivA{
      margin: 25px 5%;
  }
}
@media screen and (max-width: 1000px) {
  .Section5Div{
      padding: 40px 20px;
  }
  .Section5DivA{
      margin: 20px 3%;
  }
}
@media screen and (max-width: 850px) {
  .Section5DivAPoint{
      margin: 20px;
      width:270px ;
  }
  .Section5Div h3{
      font-size: 2em;
      padding: 20px ;
  }
}
@media screen and (max-width: 700px) {
  .Section5Div{
      padding: 30px 10px;
  }
  .Section5DivAPoint{
      margin: 10px;
      width:230px ;
  }
  .Section5Div h3{
      font-size: 1.7em;
      padding: 15px ;
  }
  .section5DivADivB h5{
      font-size: 1.1em;
  }
  .section5DivADivB p{
      font-size: 0.9em;
  }
  .section5DivADivB a{
      font-size: 0.9em;
  }
  .Section5DivA{
      margin: 10px 1%;
  }
}
@media screen and (max-width: 550px) {
  .section5Icon img{
      width: 25px;
  }
  .Section5DivAPoint{
      margin: 5px;
      width:200px;
      padding: 5px;
  }
  .Section5Div h3{
      font-size: 1.3em;
      padding: 15px ;
  }
  .section5DivADivB h5{
      font-size: 1em;
  }
  .section5DivADivB p{
      font-size: 0.8em;
      margin-bottom: 5px;
  }
  .section5DivADivB a{
      font-size: 0.8em;
  }
}
@media screen and (max-width: 450px) {
  .section5Icon img{
      width: 20px;
  }
  .Section5Div{
      padding: 30px 5px;
  }
  .Section5DivAPoint{
      margin: 0px;
      width:150px;
      padding: 5px;
  }
  .Section5Div h3{
      font-size: 1.2em;
      padding: 12px ;
  }
  .section5DivADivB h5{
      font-size: 0.8em;
  }
  .section5DivADivB p{
      font-size: 0.6em;
      margin-bottom: 0px;
  }
  .section5DivADivB a{
      font-size: 0.6em;
  }
}
/* B */
@media screen and (max-width: 1300px) {
  .Section5DivB img{
      width: 550px;
   }
}
@media screen and (max-width: 1200px) {
  .Section5DivB img{
      width: 500px;
   }
}
@media screen and (max-width: 1100px) {
  .Section5DivB{
      padding: 2% 5%;
  }
  .Section5DivB img{
      width: 470px;
   }
   .Section5DivBDivA p{
      font-size: 1.2em;
  }
}
@media screen and (max-width: 1000px) {
  .Section5DivB{
      padding: 2% 4%;
  }
  .Section5DivB img{
      width: 450px;
   }
   .Section5DivBDivA p{
      font-size: 1.1em;
  }
}
@media screen and (max-width: 900px) {
  .Section5DivB{
      padding: 2% 4%;
  }
  .Section5DivB img{
      width: 430px;
   }
   .Section5DivBDivA p{
      font-size: 1em;
  }
  .section5Anchor>a{
     font-size: 0.9em;
     margin: 5px 5px ;

  }
  .Section5DivBDivA p{
      font-size: 1.1em;
      margin-bottom: 10px;
  }
  .Section5DivBDivA{
      margin-top: 50px;
  }
}
@media screen and (max-width: 800px) {
  .Section5DivB img{
      width: 370px;
   }
   .Section5DivB{
      padding: 2% 3%;
  }
  .Section5DivBDivA p{
      font-size: 1.1em;
      margin-bottom: 10px;
  }
  .Section5DivBDivA{
      margin-top: 20px;
  }

}
@media screen and (max-width: 750px) {
  .Section5DivB img{
      width: 300px;
   }
   .Section5DivB{
      padding: 2% 2%;
  }
  .Section5DivBDivA p{
      font-size: 0.9em;
  }
  .section5Anchor>a{
      font-size: 0.8em;
   }
  }
  .section5Anchor a span{
      color: black;
      background: coral;
      padding: 1px 5px;
      border-radius: 50%;
  }
@media screen and (max-width: 600px) {
  .Section5DivB img{
     display: none;
   }
   .Section5DivBDivA p{
      text-align: center;
      font-size: 0.9em;
      margin-bottom: 10px;
  }
  .section5Anchor>a{
      font-size: 0.8em;
      margin: 5px 5px ;
      text-align: center;

   }
  }
  /* C */
  @media screen and (max-width: 760px) {
      .section5DivC a{
          margin: 50px 20px;
      }
      .section5DivC{
          margin-top: 60px;
      }
      .section5DivC h4{
              margin: 40px 0px;
              font-size: 1.1em;
      }
      .section5DivCa{
          margin: 15px;
      }

  }
  @media screen and (max-width: 670px) {
     
      .section5DivC a{
          margin: 30px 10px;
          font-size: 0.8em;
      }
      .section5DivCa{
          margin: 5px;
      }
      .section5DivC h4{
          margin: 20px 0px;
      }
      .section5DivC{
          margin-top: 30px;
          padding: 15px !important;
      }
  }
  @media screen and (max-width: 550px) {
      .section5DivC a{
       display: block;
       margin: 10px 20%;
       padding: 5px 10px;
      }
      .section5DivC{
          padding: 10px !important;
      }
  }